fieldset,header h1{border:none;float:left;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;border-bottom:1px solid #ffaa33;color:#ffaa33;text-align:center;}
li{list-style:none;}
a{color:#ffaa33;decoration:underline;}
a:visited{color:#c4852a;}
#search_results section{display:none;}
header {overflow:hidden;margin-bottom:20px;}
#search_terms,#search_results{border:1px solid #ffaa33;min-height:400px;padding:5px;}
#search_terms{float:left;margin-right:10px;width:10%;}
#search_terms ul{padding:0 .5em;}
#search_terms a.remove{font-weight:bold;color:#a40000;}
#search_results{overflow:hidden;}
#web_results{float:left;width:80%}
.side_dishes{float:right;width:18%}
#upcoming_results,#flickr_results{padding:0 10px 10px;margin-bottom:10px;}
#flickr_results ul{margin:1em 0;padding:0;}
#flickr_results li{display:inline;padding:0 3px 0;margin:0;}
input,.button{border:1px solid #ffaa33;background-color:#fff;color:#ffaa33;height:20px;}
input[type="submit"]:hover,.button:hover{cursor:pointer;background-color:#ffeed6;}
.advanced{border-bottom:1px solid #ffaa33;color:#ffaa33;float:right;}
.advanced:visited{color:#ffaa33;}
.search{margin:18px 0 0 10px;}
.control_section{clear:both;display:block;overflow:hidden;padding:0 22px;}
.search_section{width:265px;overflow:hidden;}
.show{display:block;}
.hide{display:none;}
.controls li{font-size:75%;}
.controls li input{height:1em;width:1em;font-size:75%;}
